.table thead,
.table thead th {
  color: #999 !important;
  font-weight: 700 !important;
}
.table tbody td {
  color: #666 !important;
}
.table tbody td:hover {
  cursor: default;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px!important;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tabs a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.tabs a.active {
  font-weight: bold;
  border-bottom: 2px solid green;
}

.display-inline {
  display: inline;
}